$font-size-logo: 32px;
$font-size-big: 24px;
$font-size: 18px;

$background: #343138;
$text-color: white;

$shade-dark: lighten($background, 5%);
$shade-light: lighten($background, 30%);

$error: #ff007f;
$blue: #00e5ff;
$yellow: #ffff00;
$green: #00ff99;

