@import "common.scss";

body {
  margin: 0;
  font-family: "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.Page {
  font-size: $font-size;
  color: $text-color;
  background-color: $background;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 950px;
  padding: 60px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.btn {
  color: $text-color;
  border: solid 2px transparent;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  transition: border-color 0.1s;

  @mixin color($color) {
    background: mix($color, $background, 20%);
    &:hover {
      border-color: $color;
    }

    &.active {
      border-color: $color;
      background: mix($background, $color, 70%);

      &:hover {
        background: mix($background, $color, 60%);
      }
    }
  }

  @include color($green);

  &.red {
    @include color($error);
  }

  &.yellow {
    @include color($yellow);
  }

  &.blue {
    @include color($blue);
  }
}
