@import "common.scss";

.spacer {
  flex-grow: 1;
}

.SelectAsset {
  flex-grow: 3;
  padding-top: 100px;

  width: 600px;

  .title {
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    float: left;
    border-radius: 5px;
    font-weight: bold;
    font-size: $font-size-big;
  }

  .option {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: $font-size-big;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    width: 140px;
    height: 140px;
    background: darken($background, 10%);
    border: solid 2px $background;

    img {
      height: $font-size-big * 2;
      margin-bottom: 10px;
    }

    transition: border-color 0.08s;

    &:hover {
      border-color: $blue;
    }

    &.active {
      border-color: $green;
    }

    &.selected {
      border-color: $blue;

      &:hover {
        border-color: $red;
      }
    }
  }
}
